<?xml version='1.0' encoding='utf-8'?>
<manifest
  xmlns:android='http://schemas.android.com/apk/res/android'
  package='${package}'
  android:versionCode='${versionCode}'
  android:versionName='${versionName}'
  >
  <application
    android:name='${appClass}'
    android:label='${appName}'
    >
    <activity
      android:name='${activityClass}'
      android:label='${appName}'
      android:theme='@style/droid.int'
      >
      <intent-filter>
        <action android:name='android.intent.action.MAIN'/>
        <category android:name='android.intent.category.LAUNCHER'/>
      </intent-filter>
    </activity>
  </application>
  <uses-permission android:name='android.permission.WRITE_EXTERNAL_STORAGE'/>
  <uses-sdk
    android:minSdkVersion='${minSdk}'
    android:targetSdkVersion='${targetSdk}'
    />
</manifest>
